
    /*Not sure how i feel about this colour scheme*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  }
  
  #container {
    display: flex;
    background-color: purple;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
